.form-wrapper {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  width: 500px;

  .form-input {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  span {
    width: 100%;

    label span {
      color: var(--red-700);
    }

    input,
    .dropdown-role {
      width: 100%;
    }
  }

  .input-text {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .input-date {
    display: flex;
    gap: 20px;
  }

  button#submit {
    width: 150px;
  }

  .preview-photo {
    border-radius: 20px;
    width: 150px;
  }

  i {
    color: var(--text-color-secondary);
  }

  small {
    color: var(--red-700);
  }
}

.action-form {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
